@font-face {
    font-family: 'Nexa-Heavy';
    src: url('../font/Nexa-Heavy.ttf');
}

body{
    background-color: #2E4053;
    font-family: 'Nexa-Heavy', 'sans-serif';
    margin: 0;
    padding: 0;
}

.nav-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    position: fixed;
    background-color: #3D5670;
    height: 50px;
    width: 100%;
    bottom: 0;
}

footer nav{
    width: 100%;
}

nav div{
    display: flex;
    align-items: center;
    justify-content: center;
}