@media screen and (min-width: 780px) {
    
}

main{
    display: grid;
}


.title{
    width: 75%;
    height: max-content;
    background-color: #D9D9D9;
    align-self: center;
    justify-self: center;
    text-align: center;
    margin: 20px;
    border-radius: 10px; 
    border: 2px solid black; 
}



.title h1{
    color: #138D75;
    margin: 0;
}