
@font-face {
    font-family: 'Nexa-Heavy';
    src: url('../font/Nexa-Heavy.ttf');
}

body{
    background-color: #2E4053;
    font-family: 'Nexa-Heavy', 'sans-serif';
    margin: 0;
    padding: 0;
    }

header{
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#depart2{
    display : none;
}

#arriver2{
    display : none;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100pw;
    flex-direction: column;
}

form{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

form nav {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.colorwhite{
    color: white;
}

.centrerhorizontalement{
    display: flex;
    align-items: center;
    gap: 8px;
}

.centrer{
    justify-content : center;
}


.modele-container{
    display: grid;
    background-color: white;
    justify-content : space-around;
    border-left: 10px #3D5670;
    border-right: 10px #3D5670;
    grid-template-areas :
    'text1 text2 text3'
    'select select select'
    'select select select';
    height: 119px;
    width: 90%;
    align-items: center;
    border-radius: 20px;
    
    
}

.text1 {
    grid-area : text1 ;

}
.text2 {
    grid-area : text2 ;
}
.text3 {
    grid-area : text3 ;
}

.select {
    grid-area : select ;
    justify-content: center;
    align-items: center;
}


.form-input{
    background-color: transparent;
    border: none;
    width: 250px;
    height: 60px;
    font-size: 15px;
    color: #138D75;
    /* border-bottom: solid 2px #b6b6b6; */
}


footer nav{
    width: 100%;
}



.switch {
	display: inline-block;
	position: relative;
	width: 50px;
	height: 30px;
	cursor: pointer;
	overflow: hidden;
}

.switch input {
	position: absolute;
	top: -20px;
	left: -20px;
	width: 0;
	height: 0;
}

.switch input + span {
    position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background: #91d8d8;
   border-radius: 20px;
}

.switch input:checked + span {
	background: #138D75;
}

.switch input + span:before {
	content: "";
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 5px;
	width: 21px;
	height: 21px;
	background: white;
	border-radius: 50%;
	transform: translateY(-50%);
	transition: all .5s;
}

.switch input:checked + span:before {
	left: 24px;
}

.styled {
    display: flex;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: #138D75;
    background-image: linear-gradient(
      to top left,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2) 30%,
      rgba(0, 0, 0, 0)
    );
    margin-bottom: 75px;
}

.styled:hover {
  background-color: #138D75;
}

