body{
    padding: 40px;
}


.form-input {
    background-color: transparent;
    border: none;

    width: 250px;
    height: 60px;
    font-size: 30px;
    color: #138D75;
  }
  
  input[type="text"]::placeholder{
    color:#138D75;
}
input[type="password"]::placeholder{
    color:#138D75;
}
.button-submit{
    border: none;
    border-radius: 10px;
    background-color: #138D75;
    height: 30px;
    width: 130px;
    margin: 2px;
    position: relative;
    top: 20px;
    left: 20px;
    color: #D9D9D9;
    font-size: 15px;
    align-self: flex-start;
  }
  .header-container {
    display: flex;
    align-items: center; /* Aligne verticalement les items au centre */
    gap: 10px; /* Espace entre la flèche et le titre */
    padding: 10px; /* Espacement interne */
    color: #138D75; /* Bordure en bas */
    border-radius: 10px;
  }
.arrow {
    font-size: 24px; /* Taille de la flèche */
    cursor: pointer;
    color: #138D75; /* Changer le curseur pour indiquer la cliquabilité */
}
.grid {
    
    display: grid;
    grid-template-columns: 1fr; /* Une seule colonne */
    grid-template-rows: repeat(3, 1fr); /* Trois lignes égales */
    align-items: left; /* Aligner les éléments verticalement */
  }
  .case {
    text-align: center;
  }
  .header-container {
    display: flex;
    align-items: center;
    margin: 20px;
  }