body{
    padding: 10px;
    color: #138D75 ;
}

.header-container {
    display: flex;
    align-items: center; /* Aligne verticalement les items au centre */
    gap: 10px; /* Espace entre la flèche et le titre */
    padding: 10px; /* Espacement interne */
    background-color: #D9D9D9; /* Couleur de fond pour visibilité */
    color: #138D75; /* Bordure en bas */
    border-radius: 10px;
}

.arrow {
    font-size: 24px; /* Taille de la flèche */
    cursor: pointer;
    color: #138D75; /* Changer le curseur pour indiquer la cliquabilité */
}



.menu{
  
    padding-top: 15px;
    display: grid ;
    gap: 10px;
    grid-column: repeat(4,1fr);  
}
.itemss{
    background-color: #D9D9D9;
    color: #138D75;
    border-radius: 10px;
}
.grid {
    display: grid;
    grid-template-columns: 1fr; /* Une seule colonne */
    grid-template-rows: repeat(3, 1fr); /* Trois lignes égales */
    align-items: left; /* Aligner les éléments verticalement */
  }
  .case {
    text-align: center;
    padding: 15px;
  }
  a{
    text-decoration: none;
  }

