.menup{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows:150px;
    grid-gap: 15px;
}
.item{
    background-color:white;
    grid-column:5fr;
    border-radius:10px;
    grid-column:1/6;
}
.titre{
    grid-column:1/4;
    grid-row:1/2;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:#2E4053;
    color:#138D75;
    font-size:30px;
}
.ID{
    display: flex;
    grid-column:4/6;
    width: 140px;
    height: 140px;
    border-radius:50%;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-items: center;
    
}