.grid {
    display: grid;
    grid-template-columns: 1fr; /* Une seule colonne */
    grid-template-rows: repeat(3, 1fr); /* Trois lignes égales */
    align-items: left; /* Aligner les éléments verticalement */
  }
  
  .titre {
    padding-left: 70px;
    color: #138D75;
    font-size: 43px;
    text-align:left ; /* Centrer le texte horizontalement */
  }
  
  .case {
    text-align: center;
    padding: 15px;
  }
  
  .form-input {
    background-color: transparent;
    border: none;
    width: 250px;
    height: 60px;
    font-size: 30px;
    color: #138D75;
  }
  
input[type="text"]::placeholder{
    color:#138D75;
}

a{
  text-decoration: none;
}