.container{
    padding: 10px;
}

body{
    font-family: 'Nexa-Heavy', 'sans-serif';
}

.menup{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows:150px;
    grid-gap: 15px;
    border-bottom: solid #D9D9D9;
    padding-bottom: 10px;
}

.titre{
    grid-column:1/4;
    grid-row:1/2;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:#2E4053;
    color:#138D75;
    font-size:30px;
}
.ID{
    display: flex;
    grid-column:4/6;
    width: 140px;
    height: 140px;
    border-radius:50%;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-items: center;
}
.img-user{
    height: 142px;
    width: 142px;
}

.menu{
    display: grid;
    grid-template-rows: repeat(3, 50px);
    gap: 40px;
    padding-top: 30px;
}

.itemss{
    display: flex;
    align-items: center;
    background-color:white;
    color:#138D75;
    border-radius:10px;
    font-size:20px;    
    gap: 10px;
    height: 50px;
    padding-left: 10px;
}

.grid-container{
    display: grid;
    grid-template-columns: auto 50px;
}

a{
    text-decoration: none;
    color: #138D75;
}
.portefeuille{
    color: #D9D9D9;
    font-size: 20px;
        
}